<div class="container">
  <h1>Thank you.</h1>

  We are submitting your HIT right now...
<%=@resubmit.id%>

</div>

<script type="text/javascript">
window.location = 'https://www.mturk.com/mturk/externalSubmit?cond=1&assignmentId=<%=@resubmit.assignment_id.to_s%>&hitId=<%=@resubmit.hit_id.to_s%>&workerId=<%=@resubmit.worker_id.to_s%>&resubmitId=<%=@resubmit.id.to_s%>'
</script>